.header__lang-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    padding-left: 18px;
    color: #FFFFFF;
    margin: 0;
}

.header__lang-link:hover{
    opacity: 0.5; 
    transition: opacity 0.5s;
 }