.places{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
 /*   min-width: 320px; */
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    margin-top: 20vw;
   
}

@media screen and (min-width: 440px) {
    .places{
        margin-top: 88px;
    }  
 }

 @media screen and (min-width: 978px) {
    .places{
        margin-top: 9vw;
    }  
 }

 @media screen and (min-width: 1024px) {
    .places{
        margin-top: 92px;
    }  
 }


