.cover__subtitle{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 85%;
    max-width: 360px;
    position: relative;   
    z-index: 2;
    margin: 0 auto;
    padding-bottom: 0px;
}

@media screen and (min-width: 409px) {
    .cover__subtitle{
        font-size: 18px;
        line-height: 22px;
      /*  margin: 0; */
    }  
 }

/*
 @media screen and (min-width: 1100px) {
    .cover__subtitle{
        padding-bottom: 56px;
    }  
 }

*/