.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    min-height: 42px;
    width: 90vw;
    max-width: 1184px;

    padding-top: 5vw;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}


@media screen and (min-width: 700px) {
    .header{
        width: 94vw;
    }  
 }

@media screen and (min-width: 1024px) {
    .header{
        width: calc(100vw - 96px);
    }  
 }

@media screen and (min-width: 760px) {
   .header{
    padding-top: 28px;
   }  
} 