.header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; /* ? */
    
    min-height: 42px;
 /*   min-width: 320px; */
    padding-top: 5vw;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
   .header{
    padding-top: 3.6vw;
   }  
}  /* с этим переходом фигня, поправить */