.header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; /* ? */
    
    min-height: 42px;
    min-width: 320px;
    margin: 5vw 5vw 0;
    box-sizing: border-box;
    position: relative;
}

@media screen and (min-width: 480px) {
   .header{
    margin: 3.6vw 3.1vw 0;
   }  
}  /* с этим переходом фигня, поправить */