.lead__title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12vw;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin: 52px auto 0;
}

@media screen and (min-width: 768px) {
    .lead__title{
        font-size: 96px;
        line-height: 100px;
    }  
 }

 @media screen and (min-width: 800px) {
    .lead__title{
        width: 720px;
    }  
 }