.footer__copyright{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
    padding-top: 48px;
}

@media screen and (min-width: 760px) {
    .footer__copyright{
        align-self: flex-end;
    }
 }