.lead__image{
    width: 100vw;
    background-size: contain;
    box-sizing: border-box;
    max-width: 984px;
}

@media screen and (min-width: 768px) {
    .lead__image{
        width: calc(100vw - (100vw - 768px)*0.375);
    }  
 }
