.lead__image{
    width: 100%; /* 100vw не работает в мозилле и яндексе */
 /*   height: 63vw; */
    background-size: cover;
    box-sizing: border-box;
    max-width: 984px;
  /*  max-height: 615px; */
    margin-top: 11vw;
}

/* Изображение не соответствует фигме? */


@media screen and (min-width: 510px) {
    .lead__image{
        margin-top: 56px;
    }  
 }
/*
@media screen and (min-width: 750px) {
    .lead__image{
        height: 62vw;
    }  
 }
*/
/*
 @media screen and (min-width: 900px) {
    .lead__image{
        height: 56vw;
    }  
 }
*/

@media screen and (min-width: 785px) {
    .lead__image{
        width: calc(768px + (100% - 768px)/1.6);
    }  
 }

@media screen and (min-width: 1024px) {
    .lead__image{
        width: calc(928px + (100% - 1024px)/4.57);
    }  
 }