.intro__text{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 34px 0 36px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
  /*  max-width: 690px; */
  /*  padding-right: 2px; */
}

@media screen and (min-width: 800px) {
  .intro__text{
      width: 690px;
  }  
}