.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 21vw;
    margin-bottom: 20vw;
    width: 90vw;
    max-width: 984px;
}

@media screen and (min-width: 440px) {
    .intro{
        margin-top: 88px;
        margin-bottom: 88px; 
    }  
 }

 @media screen and (min-width: 1024px) {
    .intro{
        margin-top: 92px;
        margin-bottom: 92px; 
    }  
 }

 @media screen and (min-width: 480px) {
    .intro{
    /*  padding-left: 24px; */
      width: calc(100vw - 48px);
    }  
  }
  
  @media screen and (min-width: 900px) {
    .intro{
    /*  padding-left: 24px; */
    /*  width: calc(100vw - 48px); */
        width: calc(768px + (100% - 768px)/1.6);
    }  
  }
  
  @media screen and (min-width: 1024px) {
    .intro{
        width: calc(928px + (100vw - 1024px)/4.57);
    }  
  }