.lead__subtitle{
    
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 5vw;
line-height: 1.25;

text-align: center;

color: #FFFFFF;
margin: 5vw auto 0;
}

@media screen and (min-width: 600px) {
    .lead__subtitle{
        font-size: 30px;
        line-height: 36px;
    }  
 }

 @media screen and (min-width: 640px) {
    .lead__subtitle{
        margin-top: 32px;
    }  
 }

 @media screen and (min-width: 711px) {
    .lead__subtitle{
        width: 640px;
    }  
 }


 @media screen and (min-width: 900px) {
    .lead__subtitle{
        margin-top: 26px;
    }  
 }