.place{
   display: grid;
   justify-content: stretch;
   align-items: stretch;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   column-gap: 3.2vw;
   row-gap: 10vw;
   margin: 0 auto;
   box-sizing: border-box;
   margin-bottom: 15vw;
}

@media screen and (min-width: 600px) {
   .place{
    grid-template-columns: 48fr 51fr;
    column-gap: 3.6vw;
   }  
} 

@media screen and (min-width: 1250px) {
   .place{
      column-gap: 42px; 
   } 
}

   @media screen and (min-width: 480px) {
      .place{
          margin-bottom: 74px;
          row-gap: 48px;
      }  
   }
  
   @media screen and (min-width: 1000px) {
      .place{
          margin-bottom: 92px;
          row-gap: 41px;
          column-gap: 32px;
      }  
   }

   @media screen and (min-width: 1100px) {
      .place{
          margin-bottom: 80px;
          row-gap: 45px;
      }
   /*   .place:last-child{
         margin-bottom: 72px;      
      } */
   }