.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 40px 0 24px;
    position: relative;
    margin:0 auto;
    max-width: 1280px;
}

@media screen and (min-width: 900px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    } 
}